 {% load static %}
<!-- mobile fix menu start -->
<div class="mobile-menu d-md-none d-block mobile-cart">
  <ul>
    <li class="active">
      <a href="{% url 'home' %}">
        <img
          src="{% static 'assets/images/icon/home.png' %}"
          class="amazon-icon js-link"
          alt="Home"
        />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#search" data-bs-toggle="modal" class="search-box">
        <img
          src="{% static 'assets/images/icon/search.png' %}"
          class="amazon-icon js-link"
          alt="search"
        />
        <span>Search</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img
          src="{% static 'assets/images/icon/category.png' %}"
          class="amazon-icon js-link"
          alt="category"
        />
        <span>Category</span>
      </a>
    </li>
    <li>
      <a href="https://wa.me/7046624986" target="_blank">
        <img
          src="{% static 'assets/images/icon/whatsapp.png' %}"
          class="amazon-icon"
          alt="Amazon"
        />
        <span>Whatsapp</span>
      </a>
    </li>

    <li>
      <a
        href="https://www.amazon.in/stores/Quesec/page/your-store-link"
        target="_blank"
      >
        <img
          src="{% static 'assets/images/icon/amazon.png' %}"
          class="amazon-icon"
          alt="Amazon"
        />
        <span>Amazon</span>
      </a>
    </li>
  </ul>
</div>
<!-- mobile fix menu end -->