{% extends 'base.html' %} {% load static %} {% block og_title %}Verify Otp
{% endblock%} {% block title %}Verify Otp{% endblock %} {% block og_description %}
{{site_settings.site_description }}{% endblock %} {% block description %}
{{site_settings.site_description }}{% endblock %} {% block keywords %}
{{site_settings.site_keywords }}{% endblock %} {% block content %}

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>Verify Otp</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item">Login</li>
              <li class="breadcrumb-item active">Verify Otp</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- log in section start -->
<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <!-- Left Image -->
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/otp.png' %}" class="img-fluid" alt="Login">
                </div>
            </div>

            <!-- Login Form -->
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome</h3>
                        <h4>Enter Your Otp</h4>
                    </div>

                    <!-- Alert messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="input-box">
                        <form class="row g-4" method="post">
                            {% csrf_token %}
                            
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    {{ form.email.errors }}
                                    <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter the OTP" required>
                                    <label for="email">OTP</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-animation w-100" type="submit">Send OTP</button>
                            </div>
                            <p class="text-muted mt-3">OTP sent to your email.</p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>
<!-- log in section end -->

{% endblock %} {% block modal %} {% include 'models/mobile-fix-menu.html' %} 
{% endblock %}
